body {
	margin: 0;
	font-family: calibri, arial, sans serif;
}

.vis {
	display: flex;
	align-items: flex-end;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
}

.axis text {
	font-family: calibri, sans serif;
	font-size: 10pt;
}

.appearances-css:not(.active) {
	opacity: 0.7;
}

#footer {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	background-color: lightblue;
}

.window {
	display: flex;
	flex-direction: column;
	box-shadow: inset 1px 1px 0 0 #424242;
    border: 1px solid #fff;
    border-right-color: #848484;
    border-bottom-color: #848484;
    background: silver;
    padding: 2px;
}

.windowbar {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 30px;
	box-shadow: 1px 1px 0 0 #424242;
	padding: 0 2px;
	background: -webkit-linear-gradient(left,#08216b,#a5cef7)!important;
}

.windowbartext {
	color: white;
	margin-left: 8px;
	flex: 1;
}

.windowbaricon {
	display: flex;
	margin: 1px;
	flex: 0 0 20px;
	justify-content: center;
	align-items: center;
    border: 1px solid #fff;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
}

#wind-net {
	position: absolute;
	width: -webkit-fill-available;
	bottom: 40px;
	top: 0;
}

#wind-timeline {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
}

#timeline {
	width: 600px;
	height: 200px;
}

#wind-pie {
	position: absolute;
	bottom: 0;
	left: 47%;
	margin: 10px;
}

#pie {
	width: 500px;
	height: 200px;
}

#wind-inside {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	top: 30px;
	width: 300px;
}

#filters {
	display: flex;
	flex-direction: column;
}

.filtersgroup {
	display: flex;
	flex-direction: row;
}

.filter {
	flex: 1;
	width: 100px;
	margin: 6px;
}

.btn {
	padding: 10px;
	font-family: calibri, sans serif;
	border: solid 1px black;
	color: white;
	background-color: blue
}

.btn.active {
	background-color: red;
}