body {
	margin: 0;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif
}

.vis {
	display: flex;
	align-items: flex-end;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
}

.axis text {
	/* font-family: calibri, sans serif; */
	font-size: 10pt;
}

.appearances-css:not(.active) {
	opacity: 0.7;
}

.appearances-css.disabled {
	opacity: 0.3;
}

.rating-css:not(.active) {
	opacity: 0.7;
}

.window {
	display: flex;
	flex-direction: column;
	box-shadow: inset 1px 1px 0 0 #424242;
	border: 1px solid #fff;
	border-right-color: #848484;
	border-bottom-color: #848484;
	background: silver;
	padding: 2px;
}

.graph {
	background: #fff;
	border: 1px solid #000;
	border-bottom-color: #a3a3a3;
	border-right-color: #a3a3a3;
	padding: 1px;
}

.windowbar {
	display: flex;
	align-items: center;
	flex-direction: row;
	height: 30px;
	box-shadow: 1px 1px 0 0 #424242;
	padding: 0 2px;
	background: -webkit-linear-gradient(left, #08216b, #a5cef7) !important;
}

.windowbartext {
	color: white;
	margin-left: 8px;
	flex: 1;
}

.windowbaricon {
	display: flex;
	margin: 1px;
	flex: 0 0 20px;
	justify-content: center;
	align-items: center;
	border: 1px solid #fff;
	border-right-color: #424242;
	border-bottom-color: #424242;
	background: silver;
}

#wind-net {
	position: absolute;
	width: -webkit-fill-available;
	bottom: 25px;
	margin: 5px;
	top: 0;
}

#network {
	bottom: 0;
	position: absolute;
}

#net-container {
	height: 100%;
}

#wind-timeline {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
}

#timeline {
	width: 600px;
	height: 200px;
}

#wind-pie {
	position: absolute;
	bottom: 0;
	left: 47%;
	margin: 10px;
}

#pie {
	width: 500px;
	height: 200px;
}

#wind-inside {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
	width: 300px;
}

#wind-filter {
	position: absolute;
	right: 0;
	margin: 10px;
	top: 30px;
	width: 300px;
}

#filters {
	display: flex;
	flex-direction: column;
}

.filtersgroup {
	display: flex;
	flex-direction: row;
}

.filter {
	flex: 1;
	margin: 6px;
}

.btn {
	padding: 10px;
	border: 1px outset #fff;
	border-right-color: #424242;
	border-bottom-color: #424242;
	background: silver;
}

.btn.active {
	padding: 8px 9px;
	border: 2px inset #fff;
	background: url(./images/Word%20Images/background.bmp);
	box-shadow: -1px -1px #000;
	font-weight: 700;
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
}

#selected-person {
	text-align: left;
}

#selected-person:not(.active) {
	opacity: 0.5;
}

.select-picker {
	height: 30px;
	width: auto;
	padding-left: 5px;
	-webkit-appearance: none;
	border-radius: 0;
	background: url(./images/window/toolbar/combo.png), -webkit-linear-gradient(0deg, #fff, #fff 55%, silver 56%, silver), #fff;
	background: url(./images/window/toolbar/combo.png), -webkit-linear-gradient(left, #fff, #fff 55%, silver 56%, silver), #fff;
	background: url(./images/window/toolbar/combo.png), linear-gradient(90deg, #fff, #fff 55%, silver 56%, silver), #fff;
	background-repeat: no-repeat;
	background-position: 97.5% 50%, 99% 50%;
	background-origin: padding-box;
	background-clip: border-box;
	background-size: auto auto, 35px 20px;
}

.autocomplete-items {
	margin: 0 5px;
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}

div#tooltip {
	position: absolute;        
	display: inline-block;
	padding: 10px;
	font-family: 'Open Sans' sans-serif;
	color: #000;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 2px;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
}