h1 {
	font-size: 18pt;
	font-family: calibri, arial, sans serif;
}

.vis {
	display: flex;
	align-items: flex-end;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
}

.axis text {
	font-family: calibri, sans serif;
	font-size: 10pt;
}

.btn {
	width: 100px;
	font-family: calibri, sans serif;
	padding: 10px;
	border: solid 1px black;
	color: white;
	background-color: blue
}

.btn.active {
	background-color: red;
}

.appearances-css:not(.active) {
	opacity: 0.7;
}